@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Otaku Market</PageTitle>

<HeadContent>
    <!-- Include CSS -->
    <link rel="stylesheet" href="css/site.css" />
</HeadContent>

<div style="min-height: 100vh;">
    @Body
</div> 

<script src="js/customPositioning.js"></script> 